
body {
  background: url(http://pictures.dealer.com/k/kinneysubarusne/1944/6d36f2b4528aa9f3d5c9382b6211f927x.jpg) no-repeat center;
  color: #fff;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0,0,0,.9);
}

h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 96px;
  line-height: 1.42857143;
  padding-top: 120px;
}

h4 {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: center;
  font-size: 30px;
}