<!doctype html>
<html>
  <head>
    <title>Find a Gift</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style3.css">
  </head>
  <body>
      <h1>Here's a Perfect Gift!</h1>
      <h3> If you don't like this choice, click below to generate another gift. </h3>
      <a href="/actualgift" class="btn btn-lg btn-default"> Another Gift!</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
