
<!doctype html>
<html>
  <head>
    <title>Find a Gift</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style2.css">
  </head>
  <body>
      <h1> Find A Gift! </h1>
      <h3> Use the dropdown menu below to choose the holiday you're shopping for. </h3>
     <form method="POST" action="/actualgift">
   <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="Mother's Birthday" name="event"> Mother's Birthday
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox2" value="Mother's Day" name="event"> Mother's Day
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="Father's Birthday" name="event"> Father's Birthday
</label>
<input type="submit" value="Find Gift"> 
</form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
