<!-- <!doctype html>
<html>
  <head>
    <title>Gift Hunter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
   <h1>YO</h1>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>

 -->
<!doctype html>
<html>
  <head>
    <title>Find a Gift</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="cover" >
        <div class"content">
          <h1 id="title" class="title"> Find the Perfect Gift. </h1>
        
          <div class="button_container">
                <a href="/" class="btn btn-lg btn-default">Home</a>
                <a href="/suggestgift" class="btn btn-lg btn-default">Suggest Gift</a>
          </div> 
        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
