<!-- <!doctype html>
<html>
  <head>
    <title>Gift Hunter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <form action="/tweets" method="POST">
    User: <select>
    <%@users.each do |user| %> 
    <option>value="<%= user.id %><option>
    <%end%>
    </form>
     </body>
</html>
 -->